.rotate-90 {
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.animated {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}